:root {
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-text: hsl(200, 15%, 8%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

a {
  text-decoration: none;
  color: var(--light-mode-text);
}
